body {
        background-color: #fdf6e3;
        color: #657b83;
        font-family: sans-serif;
        line-height: 1.5;
        margin: auto;
        max-width: 80ch;
        padding: 2ch;
}

h1, h2 {
        color: #073642;
        margin-bottom: .5rem;
}

a {
        color: #dc322f;
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

pre, code {
        background-color: #eee8d5;
        border-radius: 3px;
        font-family: monospace;
        font-size: .9rem;
}

pre {
        border: 1px solid rgba(147, 161, 161, .5);
        overflow: auto;
        padding: 1rem;
}

code {
        padding: .15rem .3rem;
}

pre code {
        padding: 0;
}

img {
        width: 100%;
}

blockquote {
        border-left: 7px solid #eee8d5;
        margin: 1.5rem 0;
        padding: .2rem 1rem;
}

footer {
        text-align: center;
}

.no-bullet {
        list-style-type: none;
        padding: 0;
}
